<!DOCTYPE html>
<html>
<style>
table {
  position: relative;
  top: 80px;
  width: 400px;
  margin: auto;
}
table th , td  {
  font-family: sans-serif;
  padding: 15px;
  border-style: none;
}
table th {
  background-color: #c5c5c5;
  text-align: left;
}
table tr {
  background-color: #f2f1f1;
}
/*table.empty {
  empty-cells: hide;
  visibility: hidden;
}*/
nav {
    clear;
    font-family: sans-serif;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}
</style>
<body>
  <nav>
  <a ui-sref="home">Active Tasks</a>
</nav>
  <table>
    <th>Current Tasks</th>
    <tr ng-repeat="task in list">
      <td ng-show="task.isOld">
        <div>
          <input type="checkbox" ng-model="task.isOld">{{ task.name }}
        </div>
      </td>
    </tr>
    <!-- <input ng-model="list.task" ng-change="list.$save(task)" /> -->
  </table>
</body>
</html>
