<!DOCTYPE html>
<html>
<style>
table {
  position: relative;
  top: 80px;
  width: 400px;
  margin: auto;
}
table th , td  {
  font-family: sans-serif;
  padding: 15px;
  border-style: none;
}
table th {
  background-color: #c5c5c5;
  text-align: left;
}
table tr {
  background-color: #f2f1f1;
}
table.empty {
  empty-cells: hide;
  visibility: hidden;
}
nav {
    clear;
    font-family: sans-serif;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}
</style>
<body>
  <nav>
  <a ui-sref="history">Task History</a>
</nav>
  <table>
    <th>Current Tasks</th>
    <tr ng-repeat="task in list">
      <td ng-hide="task.isOld">
        <div>
          <input type="checkbox" ng-model="task.isCompleted" ng-change="toggleCompleted(task)">{{task.name}}
        </div>
      </td>
    </tr>
    <td>
      <p>New Task</p>
      <p><small>Priority:
          <input type="radio" ng-model="newTask.priority" value="0">low</input>
          <input type="radio" ng-model="newTask.priority" value="1">med</input>
          <input type="radio" ng-model="newTask.priority" value="2">high</input>
      </small></p>

            <input ng-model="newTask.name" type="text"></input>
            <button ng-click="createNewTask()">Submit</input>
        </td>
  </table>
</body>
</html>
